

<table class = "table table-striped table-hover questions">
  <tr class = "danger">
    <th>Author </th>
    <th>Question</th>
    <th>Votes</th>
  </tr>
  <% @questions.each do |question| %>
    <tr id = "<%=question.id%>">
      <td ><%=question.user.username %></td>
      <td ><%=link_to "#{question.title}", question_path(question) %></td>
      
      <td>

        <%=question.votes.count%>&nbsp; &nbsp; &nbsp;
      <%if current_user%>  
        <% if question.votes.pluck(:user_id).include? current_user.id %>
          <%= link_to destroy_question_vote_path(question_id: question.id), remote: true do %>
              <i class ="fa fa-thumbs-down"></i>
            <% end %>  
        <% else %>
            <%= link_to create_question_vote_path(question_id: question.id), remote: true do %>
              <i class="fa fa-thumbs-up"></i>
            <%end%>
        <% end %>
      <%end%>
      </td>
 

    </tr>
  <%end %>
</table>


