<div class ="container">
<div class = "jumbotron">
  <h1 class = "center"><%=@question.title%></h1>
  <br>
  <p class = "left"><%= markdown(@question.content) %></p>
  <p class = "text-info"><small>Author: <%=@question.user.username%></small></p>
</div>

<div class = "answers">
  <% @question.answers.each do |answer| %>
   <%= render(partial: '/answers/answerdiv', locals: {answer: answer}) %>

    <hr>

  <% end %>
</div>
  <%if current_user%> 
     <%=link_to "Answer Question", new_answer_path(question_id: @question.id), remote: true, class: "btn btn-success answerbutton" %>
  <% end %>
  <div id = "newanswer"></div>
</div>

 
 
