<%if @user.errors.any?%>
    <%@user.errors.full_messages.each do |message|%>
      <p><%=message%></p>
    <%end%>
  <%end%>

<%= form_for @user do |f| %>
  <p><%= f.text_field :username, placeholder: "Username" %></p>
  <p><%= f.email_field :email, placeholder: "Email" %></p>
  <p><%= f.password_field :password, placeholder: "Password" %></p>
  <p><%= f.password_field :password_confirmation, placeholder: "Confirm Password" %></p>
  <p><%= f.submit value: 'Sign Up'%></p>
<% end %>
