<div class="signup">
  <%= form_for @user, :html => { class: "form-horizontal" } do |f| %>
  <legend>Sign Up</legend>
  <%if @user.errors.any?%>
    <%@user.errors.full_messages.each do |message|%>
      <p><%=message%></p>
    <%end%>
  <%end%>
  <div class="form-group">
    <%= f.label :username, class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :username, placeholder: "Username", class: "form-control", id: "inputUsername" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.email_field :email, placeholder: "Email", class: "form-control", id: "inputEmail" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password, class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.password_field :password, placeholder: "Password", class: "form-control", id: "inputPassword" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control", id: "inputPasswordConfirmation" %>
    </div>
  </div>
  <%= f.submit value: 'Sign Up', class: "btn btn-primary" %>
  <% end %>
</div>
