<!DOCTYPE html>
<html>
<head>
  <title>StackUnderFlow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "StackUnderflow", "/", :class => "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li> <%= link_to "Hi, #{current_user.username.titleize}!", user_path(current_user.id) %></li>
          <li class="active"><%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <li class="active"><%= link_to "Sign Up", signup_path %></li>
          <li class="active"><%= link_to "Login", login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
  
  <%= render "questions/question_container" %>


<%= yield %>

</body>
</html>
